body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'Overpass-Black';
    src:url('./fonts/Overpass-Black.ttf.woff') format('woff'),
        url('./fonts/Overpass-Black.ttf.svg#./fonts/Overpass-Black') format('svg'),
        url('./fonts/Overpass-Black.ttf.eot'),
        url('./fonts/Overpass-Black.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}