#mainActivity {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.coverArt {
    margin: 0 38vh;
    width: 60%;
}

.coverDetails{
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}

.buttons {
    width: 50vh;
    margin: 2% 51vh;
}

.buttonElement {
    display: inline-block;
    position: relative;
    margin: 0px 55px;
}

.logout {
    margin: 30px 0 0 12vh;
}

.songPreview {
    margin: 0px 55vh;
}